@media (max-width:1439px) {

    .container{
        max-width: 960px;
    }

    .sidepanel{
        display: none;
    }

    .about{
        &__wrapper{
            justify-content: center;
        }
    }

    .contacts{
        &__wrapper{
            grid-template-columns: 400px 490px;
            column-gap: 30px;

        }
        &__form{
            grid-template: 45px 190px 45px/repeat(2,235px);
        }
    }
}

@media (max-width:1200px) {

    .container{
        max-width: 960px;
    }
    
    .about{
        &__wrapper{
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills{
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item{
                grid-template-columns: 40px 195px;
                column-gap: 15px;

            }
        }
        
    }
    
    .resume{
        &__wrapper{
            grid-template-columns: repeat(2,400px);
            column-gap: 95px;
        }
    }

    .skills{
        &__ratings{
            grid-template-columns: repeat(3,290px);
            grid-auto-rows: minmax(70px, auto);
            &-line{
                width: 290px;
            }
        }
        &__items{
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
    }
    
    .portfolio{
        &__wrapper{
            grid-template: repeat(2,280px)/repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .vertical, .horizontal{
                grid-column: unset;
                grid-row: unset;
            }
            
        }
    }

    .contacts{
        &__wrapper{
            padding: 0;
            grid-template-columns: 400px 520px;
        }
        
    }
}

@media (max-width:992px) {

    .container{
        max-width: 720px;
    }
    .title{
        &_fz36{
            font-size: 26px;
        }
    }
    .about{
        &__wrapper{
            grid-template-columns: 370px 310px;
            column-gap: 40px;
        }
        &__skills{
            grid-template-columns: 310px;
            grid-auto-rows: minmax(115px, auto);
            &-item{
                grid-template-columns: 40px 250px;
                column-gap: 20px;

            }
        }
        
    }

    .resume{
        &__wrapper{
            grid-template-columns: repeat(2,320px);
            column-gap: 60px;
            padding: 60px 20px 0 20px;

        }
        &__item{
            &-location{
            font-size: 11px;
            }
        
        }
    }
    
    .skills{
        &__ratings{
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            column-gap: 0;
            &-line{
                width: 320px;
            }
        }
        &__items{
            padding: 0 20px;
        }
        &__item{
            &-img{
                padding-top: 10px;
                
            }
            h3{
                margin-bottom: 0;
            }
            p{
                margin-bottom: 0;
            }
            
        }
        
    }

    .price{
        &__wrapper{
            grid-template: repeat(3,minmax(45px,auto))/repeat(auto-fit,365px);
            justify-content: center;
        }
        
    }

    .contacts{
        padding-top: 80px;
        &__wrapper {
            grid-template-columns: 300px 400px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 195px);
        }
        &__btn {
            padding: 8px 25px;
            line-height: 16px;
            width: 202px;
            font-size: 13px;
        }
        &__triggers{
            column-gap: 25px;

        }
    }
}

@media (max-width:768px) {

    .container{
        max-width: 540px;
    }
    .title{
        &_fz48{
            font-size: 28px;
        }
    }

    .promo{
        &__title{
            width: 300px;
            line-height: 39px;

        }
    }
    .about{
        padding-top: 40px;
        &__wrapper{
            grid-template: 400px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: repeat(2,260px);
            &-item{
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
        &__photo{
            grid-row:unset;
        }
    }

    .resume{
        &__wrapper{
            grid-template-columns: 1fr;
            column-gap: 60px;

        }
    }

    .skills{
        &__ratings{
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: center;
            grid-auto-rows: minmax(70px, auto);
            column-gap: 0;
            &-line{
                width: 320px;
            }
        }
        &__items{
            padding: 0;
            gap: 20px;
            justify-content: center;
        }
        &__item{
            &-img{
                padding-top: 10px
             }
        }
    }

    .price{
        padding-top: 40px;
        &__wrapper{
            margin-top: 20px;
            row-gap: 20px;
        }
    }

    .contacts{
        &__photo {
            display: none;
        }
        &__wrapper {
            grid-template-columns: 1fr;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
}

@media (max-width:576px) {
    .container{
        max-width: 100%;
        padding: 0 10px;
    }
    
    .title{
        &_fz48{
            font-size: 26px;
        }
        &_fz36{
            font-size: 23px;
        }
    }
    .hamburger{
        right: 20px;
    }
    .menu__block{
        width: 250px;
        padding-left: 20px;
        
    }
    .promo{
        &__btns{
            margin-top: 30px;
        }
        background: url('../img/main_bg.jpg') no-repeat 57%/cover;
    }

    .about{
        &__wrapper{
            grid-template: 340px auto auto / 1fr;
        }
        &__skills{
            grid-template-columns: 1fr;
        }
        
    }
    
    .resume{
        padding-top: 40px;
        &__wrapper{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: none;

        }
    }
    
    .skills{
        padding-top: 40px;
        &__ratings{
            grid-template-columns: 305px;
            grid-template-rows: repeat(2,70px);
            justify-content: center;
            &-line{
                width: 305px;
            }
        }
        &__items{
            grid-template-columns: repeat(auto-fit,270px);
            justify-content: center;
            grid-template-rows: repeat(7,270px);
        }
        &__item{
            &-img{
                padding-top: 10px
             }
        }
    }
    
    .portfolio{
        padding-top: 40px;
    }
    .price{
        &__wrapper{
            grid-template: repeat(3,minmax(45px,auto))/repeat(auto-fit,295px);
        }
    }

    .contacts{
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        
        &__textarea{
            grid-column: unset;
            width: 100%;
        }
        &__triggers{
            grid-column: unset;
            grid-template: 36px 45px / 1fr;
            row-gap: 20px;
            
        }
        &__btn{
            margin: 0 auto;
            order: 2;
        }
        &__policy{
            justify-content: center;
            order: 1;
        }
        }
    }
    
