.skills {
    padding-top: 120px;
    


    &__items{
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        grid-auto-rows: 270px;
        gap: 13px;
        justify-content: center;
        margin-top: 60px;
        
    }
    &__item{
        border: 1px solid rgba(0, 0, 0, 1);
        &-img{
            padding-top: 30px;
            padding-left: 30px;
        }
        h3{
            padding-top: 20px;
            padding-left: 30px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
        p{
            padding-top: 15px;
            padding-left: 30px;
            font-size: 12px;
            line-height: 18px;
        }
    }


    &__ratings{
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(2, 70px);
        column-gap: 45px;
        row-gap: 60px;
        justify-content: center;
        &-item{
            display: grid;
            grid-template: minmax(21px, 36px) 14px / 190px 30px;
            justify-content: space-between;
            align-content: space-between;
            img{
                width: 100%;
            }
            
        }       
        &-title{
            font-weight: 700;
            position: relative;
            padding:2px 13px;
            @include before_circle;
            
        }
        &-procent{
            font-size: 14px;
            
        }
        &-line{
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            span{
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
            
        }
        
    }
}